.header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.header-space {
  width: 100px;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #8b0000 !important;
}

.header-title-text {
  color: #8b0000 !important;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-title-text:hover {
  color: #bb3737 !important;
}

.header-logout {
  width: 100px;
}