.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.login-title {
  margin-bottom: 2vh;
  text-align: center;
}

.login-btn {
  width: 100%;
  margin-top: 2vh;
}

.login-register {
  margin-top: 2vh;
  text-align: center;
}